.power-search-form{
    background-color: white;
    justify-self: center;
}

.power-search-extra {
    justify-self: center;
    margin: 15px;
}


.buttons-div {
    display: flex;
    flex-direction: row;
    margin: 5px 15px;
}

.add-section-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #53A353;
    color: white;
    font-weight: 600;
    margin-right: 5px;
}

.add-section-btn span {
    font-weight: 800;
    font-size: larger;
    padding-top: 5px;
}

.perf-indicator-extra{
    margin-top: 10px;
}

.event-extra {
    margin-top: 10px;
}

.delete-icon {
    margin: 7px 0px;
    height: 40px;
    width: 40px;
    color: rgb(245, 51, 51);
}

.dash {
    color: gray;
    padding-top: 15px;
}

.submit-form {
    padding: 5px;
    align-items: center;
}

.submit-btn {
    margin: 15px;
    background-color: #455d89;
    color: white;
    padding: 7px 14px;
    border: none;
    align-items: center;
}

.submit-btn-text {
    padding: 0px 0px 0px 9px;
}

.fields {
    display: flex;
    justify-content: space-between;
}

.field-label {
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding-bottom: 6px;
}

.field-label span {
    padding-right: 2px;
    font-size: small;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: black;
    font-family: Microsoft Yahei;
}

.field-label-info {
    padding-top: 2px;
    color: gray;
}

.tooltip-arrow {
    border: 1px solid gray;
}
