.right-menu{
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
}

.tips-icon {
    color: white;
    align-self: center;
    padding-right: 15px;
}

.tips-icon:hover {
    color: white;
}

.popup-content {
    background: rgb(255, 255, 255);
    width: 50%;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  

.popup-content p{
    font-size: small;
    font-weight: 350;
    letter-spacing: 0.1rem;
}

.popup-content h7{
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.popup-content span{
    color: #447c9c;
    font-weight: 500;
}
