.input-wrapper {
    background-color: white;
    width: 98%;
    height: 2rem;
    padding: 2px 5px;
    display: flex;
    align-items: flex-start;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    margin-left: 5px;
    width: 100%;
}

.search-icon {
    align-self: center;
}

.quick-search-filter {
    display: flex;
    flex-direction: row-reverse;
    margin: 5px 5px 3px;
    justify-items: center;
}

.info-icon {
    color: white;
    margin-top: 5px;
}

.country-filter {
    border: none;
    width: 200px;
    justify-self: center;
}
